.config-email-toolbar {

    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    font-size: 0.9rem;
    height: 60px;

}

.config-email mat-card {
    min-width: 400px;
    width: 400px;
    margin-left: 20px;
}

.config-email-explanation {
    padding-top: 20px;
}

.config-email .row {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
}

.config-email .title {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 1.2rem;
}