.changepass {
    min-width: 300px;
}

.changepass .row {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
}

.changepass .title {
    padding-top: 20px;
    font-size: 1.5rem;
}

.changepass .row-pad {
    margin-left: 15px;
}

.changepass .changepass-item {
    max-width: 700px;
    max-height: 700px;
    padding-right: 30px;

}


.changepass .changepass-title {
    padding-left: 10px;
}

.changepass .changepass-actions {
    padding: 0px;
    border-top-style: none;
}


.changepass .changepass-header-actions {
    padding: 0px;
    border-top-style: none;
}