.policy-authz-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.policy-authz-toolbar {

    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    font-size: 0.9rem;
    height: 130px;

}

.policy-authz .row {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
}

.policy-authz .policy-authz-networks-item {
    padding-left: 10px;
}

.policy-authz .title {
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 1.2rem;
}

.policy-authz .add {
    margin-left: 15px;
}





.policy-authz .policy-authz-users {
    padding: 10px;

}

.policy-authz .policy-authz-users {
    min-width: 300px;

}

.policy-authz .policy-authz-users mat-card {
    background-color: #d3d3d3;

}

.theme-dark .policy-authz .policy-authz-users mat-card {
    background-color: #383535;

}

.policy-authz .expansion-add {
    padding-bottom: 10px;
}


.policy-authz app-policy-authz-rule {
    padding-bottom: 10px;
}




.policy-authz-content {
    margin-top: 10px;
    margin-bottom: 10px;
    height: calc(100vh - 60px - 130px - 10px);
    overflow: auto;
}

.policy-authz .content-divider {
    padding-bottom: 10px;
}

.policy-authz .group-user-item {
    max-height: 600px;
    overflow: auto;
    padding-bottom: 10px;

}

.policy-authz .group-user-item mat-list-item {

    font-size: 0.8rem;
}