.auth-radius {
    min-width: 300px;
}

.auth-radius .row {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
}

.auth-radius .title {
    padding-top: 20px;
    font-size: 1.5rem;
}

.auth-radius .row-pad {
    margin-left: 15px;
}

.auth-radius .auth-radius-item {
    max-width: 700px;
    max-height: 700px;
    padding-right: 30px;
}

.auth-radius .auth-radius-title {
    padding-left: 10px;
}

.auth-radius .auth-radius-actions {
    padding: 0px;
    border-top-style: none;
}

.auth-radius .auth-radius-header-actions {
    padding: 0px;
    border-top-style: none;
}