.forgotpass-mat-card {
    max-width: 500px;
    margin: 2em auto;
    text-align: center;
}

.forgotpass-forgotpass {
    margin-top: 10px;
}

.forgotpass-container {
    max-width: 600px;
}

.forgotpass-form-field {
    min-width: 300px;
}

.forgotpass-error {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.forgotpass-forgotpassed {
    max-width: 300px;

}

.forgotpass-subtitle {
    padding-top: 10px;
}

.forgotpass-title {
    padding-bottom: 15px;
    font-size: 1.2rem;
}