.logs-audit-detail {
    min-width: 300px;

}

.logs-audit-detail .mat-list-item {
    font-size: 0.9rem;
}

.logs-audit-detail-content {
    max-height: 600px;
    overflow: auto;
}



.logs-audit-detail {
    min-width: 300px;
}

.logs-audit-detail-button {

    padding-bottom: 30px;
    padding-right: 10px;
}

.logs-audit-detail-title {
    padding-left: 10px;
}

.logs-audit-detail-message {
    padding-left: 10px;
}