.register-invite-mat-card {
    max-width: 500px;
    margin: 2em auto;
    text-align: center;
}


.register-invite-register {
    margin-top: 10px;
}



.register-invite-container {
    max-width: 600px;
}

.register-invite-form-field {
    min-width: 300px;
}

.register-invite-error {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


}

.register-invite-registered {
    max-width: 300px;


}

.register-invite-title {
    padding-bottom: 15px;
    font-size: 1.2rem;
}



.register-invite-subtitle {
    padding-top: 10px;
}

.register-invite-signin {
    padding-top: 20px;
}