<div class="config-pki-intermediate-list">
    <mat-card>
        <mat-card-header>
            <mat-card-title matTooltip="{{'Lists'|translate}}">
                <mat-icon>list</mat-icon>

            </mat-card-title>
            <div class="header-actions" fxFlex fxLayoutAlign="end center" *ngIf="helpLink">
                <button mat-icon-button matTooltip="{{'Help'|translate}}" (click)="openHelp()">
                    <mat-icon>help_outline</mat-icon>
                </button>
            </div>
        </mat-card-header>
        <div class="row toolbar" fxLayout="row">

            <div fxFlex fxLayoutAlign="end center">

                <button test-id="button-add" mat-raised-button color="primary" class="add" (click)="addNewCert('auth')">

                    {{"Add"|translate}}
                    <!-- <mat-icon>keyboard_arrow_down</mat-icon> -->
                </button>

                <!-- <mat-menu #menu="matMenu">
                    <button test-id="button-http" mat-menu-item (click)="addNewCert('auth')">
                        <mat-icon>http</mat-icon>
                        <span>Authentication</span>
                    </button>
                    <button test-id="button-file" mat-menu-item (click)="addNewCert('tls')">
                        <mat-icon>insert_drive_file</mat-icon>
                        <span>TLS</span>
                    </button>

                </mat-menu> -->
            </div>
        </div>
        <mat-divider></mat-divider>


        <div class="items">
            <div fxLayout="row wrap">

                <p class="row services-item" fxLayout="row" *ngFor="let cert of  certs">

                    <app-config-pki-intermediate-cert test-id="config-pki-intermediate-cert" [cert]="cert"
                        (deleteCert)="deleteCert($event)"
                        (saveCert)="saveCert($event)"></app-config-pki-intermediate-cert>
                </p>

            </div>
        </div>



    </mat-card>

</div>