.closewindow-mat-card {
    max-width: 500px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.closewindow-closewindow {
    min-height: 50px;
}

.closewindow-container {
    max-width: 600px;
}

.closewindow-form-field {
    min-width: 300px;
}

.closewindow-error {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.closewindow-confirmed {
    max-width: 300px;

}

.closewindow-subtitle {
    padding-top: 10px;
}