.config-ip-intelligence-bwlist .toolbar {

    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    //font-size: 0.9rem;
    //height: 60px;
    padding-bottom: 20px;

}


.config-ip-intelligence-bwlist mat-card {

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.config-ip-intelligence-bwlist .search {
    margin-left: 10px;

}

.config-ip-intelligence-bwlist .items {
    height: calc(100vh - 425px);
    overflow: auto;
}

.config-ip-intelligence-bwlist .ips {
    min-height: 400px;
}

.config-ip-intelligence-bwlist .add {
    margin-left: 10px;

}

.config-ip-intelligence-bwlist-explanation {
    padding-top: 20px;
}

.config-ip-intelligence-bwlist .row {

    //padding-bottom: 15px;
}

.config-ip-intelligence-bwlist .title {
    //padding-top: 15px;
    //padding-bottom: 10px;
    font-size: 1.2rem;
}


.config-ip-intelligence-bwlist .header-actions {}

.config-ip-intelligence-bwlist .results-title {
    font-size: 1rem;

}

.config-ip-intelligence-bwlist .results-result {
    padding-top: 20px;
}

.config-ip-intelligence-bwlist .results-ips {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}