.config-fqdn-intelligence-list-item {
    min-width: 300px;
}

.config-fqdn-intelligence-list-item .row {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
}

.config-fqdn-intelligence-list-item .title {
    padding-top: 20px;
    font-size: 1.5rem;
}

.config-fqdn-intelligence-list-item .row-pad {
    margin-left: 15px;
}

.config-fqdn-intelligence-list-item .config-fqdn-intelligence-list-item-item {
    max-width: 700px;
    max-height: 700px;
    padding-right: 30px;

}

.config-fqdn-intelligence-list-item .config-fqdn-intelligence-list-item-title {
    padding-left: 10px;
}

.config-fqdn-intelligence-list-item .config-fqdn-intelligence-list-item-actions {
    padding: 0px;
    border-top-style: none;
}


.config-fqdn-intelligence-list-item .config-fqdn-intelligence-list-item-header-actions {
    padding: 0px;
    border-top-style: none;
}