.config-pki-intermediate-cert {
    min-width: 400px;
}

.config-pki-intermediate-cert .row {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
}

.config-pki-intermediate-cert .title {
    padding-top: 20px;
    font-size: 1.5rem;
}

.config-pki-intermediate-cert .row-pad {
    margin-left: 15px;
}

.config-pki-intermediate-cert .pem-text {
    height: 200px;
}

.config-pki-intermediate-cert .config-pki-intermediate-cert-item {
    max-width: 700px;
    max-height: 700px;
    padding-right: 30px;

}

.config-pki-intermediate-cert .config-pki-intermediate-cert-title {
    padding-left: 10px;
}

.config-pki-intermediate-cert .config-pki-intermediate-cert-actions {
    padding: 0px;
    border-top-style: none;
}


.config-pki-intermediate-cert .config-pki-intermediate-cert-header-actions {
    padding: 0px;
    border-top-style: none;
}