<div [ngClass]="isThemeDark?'theme-dark':''">
    <div class="policy-authn-rule">
        <mat-accordion test-id="policy-authn-rule-accordion">
            <mat-expansion-panel [expanded]="rule.isExpanded">
                <mat-expansion-panel-header [ngClass]="titleClass">
                    <mat-panel-title test-id="policy-authn-rule-title">
                        <mat-action-row fxLayoutAlign="start center" class="policy-authn-rule-header-actions">

                            <mat-icon class="reorder" cdkDragHandle
                                matTooltip="{{dragDisabled?'Disabled':''|translate}}">
                                open_with
                            </mat-icon>



                        </mat-action-row>
                        <div fxLayoutAlign="start center" style="padding-left: 10px;">
                            {{getExplanationSummary()}}
                        </div>
                        <mat-action-row fxFlex fxLayoutAlign="end center" class="policy-authn-rule-header-actions">
                            <mat-icon *ngIf="rule.isEnabled" matTooltip="{{'Enabled'|translate}}">work</mat-icon>
                            <mat-icon *ngIf="!rule.isEnabled" matTooltip="{{'Disabled'|translate}}">work_off</mat-icon>
                        </mat-action-row>
                    </mat-panel-title>

                </mat-expansion-panel-header>
                <mat-divider></mat-divider>
                <div test-id="policy-authn-rule-explanation" class="explanation" fxLayout="row wrap">

                    <p class="explanation-bold">
                        {{rule.name}} {{rule.isEnabled?'':'(is not enabled)'}}
                    </p>
                    <p class="explanation-item">
                        means
                    </p>
                    <p class="explanation-item">
                        to access network <span class="explanation-bold">{{rule.networkName}},</span>
                    </p>
                    <p class="explanation-item">
                        <span *ngIf="rule.userOrGroups.length">if user or group is <span
                                class="explanation-bold">{{getExplanationUser()}}</span></span>
                        <span *ngIf="!rule.userOrGroups.length">all users and groups</span>

                    </p>
                    <p class="explanation-item" *ngIf="rule.profile.is2FA">and accessed with <span
                            class="explanation-bold">2FA,</span>
                    </p>
                </div>
                <div test-id="policy-authn-rule-explanation" class="explanation" fxLayout="row wrap">

                    <p class="">
                        and
                    </p>
                    <p class="explanation-item">
                        accessed from <span class="explanation-bold">{{getExplanationIps()}},</span>
                    </p>

                </div>
                <div test-id="policy-authn-rule-explanation" class="explanation" fxLayout="row wrap">

                    <p class="" *ngIf="rule.profile.times?.length">
                        and
                    </p>
                    <p class="explanation-item" *ngIf="rule.profile.times?.length">
                        accessed <span class="explanation-bold">{{getExplanationTimes()}},</span>
                    </p>
                    <p class="explanation-item" *ngIf="rule.profile.device?.postures?.length">
                        and accessed <span class="explanation-bold">{{getExplanationPostures()}},</span>
                    </p>
                    <p class="explanation-item">will be
                        <span class="explanation-bold">allowed</span>
                    </p>
                </div>
                <mat-divider></mat-divider>
                <form test-id="policy-authn-rule-form" [formGroup]="formGroup">
                    <mat-tab-group #tabGroup [(selectedIndex)]="selectedTab">
                        <mat-tab label="{{'Common'|translate}}">

                            <div fxFlex fxLayout="column" class="tabpanel">
                                <p>
                                    <mat-form-field fxFlex appearance="fill">
                                        <mat-label>{{"Name"|translate}}</mat-label>
                                        <input matInput test-id="policy-authn-rule-name-input"
                                            placeholder="{{'Name'|translate}}" formControlName="name" required>
                                        <mat-error>{{formError.name|translate}}</mat-error>
                                    </mat-form-field>

                                </p>
                                <p class="policy-authn-rule-column">

                                    <mat-form-field fxFlex appearance="fill">
                                        <mat-label>{{"UsersOrGroups"|translate}}</mat-label>
                                        <mat-chip-list #chipList>
                                            <mat-chip test-id="policy-authn-rule-label-chip"
                                                *ngFor="let ug of rule.userOrGroups||[]"
                                                (removed)="removeUserOrGroup(ug)">
                                                {{ug.name}}
                                                <button matChipRemove>
                                                    <mat-icon>cancel</mat-icon>
                                                </button>
                                            </mat-chip>
                                            <input placeholder="{{'Search' |translate}}" [matChipInputFor]="chipList"
                                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                [matChipInputAddOnBlur]="addOnBlur" [matAutocomplete]="auto2"
                                                [formControl]="userorGroupControl">
                                        </mat-chip-list>
                                        <mat-autocomplete #auto2="matAutocomplete"
                                            (optionSelected)="userOrGroupSelected($event)"
                                            [displayWith]="displayUserOrGroupFn">
                                            <mat-optgroup *ngIf="filteredGroups.length" label="{{'Groups'|translate}}">
                                                <mat-option *ngFor="let option of filteredGroups" [value]="option">
                                                    {{option.name}}
                                                </mat-option>
                                            </mat-optgroup>
                                            <mat-optgroup *ngIf="filteredUsers.length" label="{{'Users'|translate}}">
                                                <mat-option *ngFor="let option of filteredUsers" [value]="option">
                                                    {{option.username}}
                                                </mat-option>
                                            </mat-optgroup>

                                        </mat-autocomplete>
                                    </mat-form-field>
                                </p>
                                <p>
                                    <mat-checkbox test-id="policy-authn-rule-checkbox-2fa"
                                        class="policy-authn-rule-checkbox" [(ngModel)]="rule.profile.is2FA"
                                        (ngModelChange)="modelChanged()" [ngModelOptions]="{standalone:true}">
                                        {{"2FA"|translate}}</mat-checkbox>
                                </p>

                                <p>
                                    <mat-checkbox test-id="policy-authn-rule-checkbox-enabled"
                                        class="policy-authn-rule-checkbox" [(ngModel)]="rule.isEnabled"
                                        (ngModelChange)="modelChanged()" [ngModelOptions]="{standalone:true}">
                                        {{"Enabled"|translate}}</mat-checkbox>
                                </p>
                                <p>
                                    <mat-divider></mat-divider>
                                </p>

                            </div>
                        </mat-tab>
                        <mat-tab label="{{'Ips'|translate}}">

                            <div test-id="policy-authn-tab-ips" fxFlex fxLayout="row wrap" class="tabpanel">

                                <div class="ips-group policy-authn-ips-direct-allow">
                                    <div class="ips-header">
                                        <mat-label matBadge="1"
                                            matBadgeOverlap="false">{{'AllowImmediately'|translate|titlecase}}</mat-label>
                                        <div></div>
                                        <mat-hint
                                            class="ips-header-hint">{{'AllowImmediatelyHint'|translate}}</mat-hint>
                                    </div>
                                    <p class="policy-authn-rule-column policy-authn-rule-item policy-authn-rule-list ">

                                        <mat-form-field fxFlex appearance="fill">
                                            <mat-label>{{"CustomWhiteList"|translate}}</mat-label>
                                            <mat-chip-list #chipListWhiteListIp>
                                                <mat-chip test-id="policy-authn-rule-whitelist-chip"
                                                    *ngFor="let ip of rule.profile?.whiteListIps || []"
                                                    (removed)="removeIpOrCidrWhiteList(ip)">
                                                    {{ip.ip}}
                                                    <button matChipRemove>
                                                        <mat-icon>cancel</mat-icon>
                                                    </button>
                                                </mat-chip>
                                                <input placeholder="{{'NewIpOrNetwork' |translate}}"
                                                    [matChipInputFor]="chipListWhiteListIp"
                                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                    [matChipInputAddOnBlur]="addOnBlur"
                                                    (matChipInputTokenEnd)="addIpOrCidrWhiteList($event)">
                                            </mat-chip-list>
                                            <mat-hint>{{"IpOrNewtorkHint"|translate}}</mat-hint>
                                        </mat-form-field>
                                    </p>


                                    <p class="policy-authn-rule-column policy-authn-rule-item policy-authn-rule-list ">

                                        <mat-form-field fxFlex appearance="fill">
                                            <mat-label>{{"IpIntelligenceLists"|translate}}</mat-label>
                                            <mat-chip-list #chipListIpIntelligenceWhiteList>
                                                <mat-chip test-id="policy-authn-rule-intel-whitelist-chip"
                                                    *ngFor="let ug of rule.profile.ipIntelligence?.whiteListsEx||[]"
                                                    (removed)="removeIpIntelligenceWhiteList(ug)">
                                                    {{ug.name}}
                                                    <button matChipRemove>
                                                        <mat-icon>cancel</mat-icon>
                                                    </button>
                                                </mat-chip>
                                                <input placeholder="{{'Search' |translate}}"
                                                    [matChipInputFor]="chipListIpIntelligenceWhiteList"
                                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                    [matChipInputAddOnBlur]="addOnBlur" [matAutocomplete]="auto3"
                                                    [formControl]="ipIntelligenceWhiteListControl">
                                            </mat-chip-list>
                                            <mat-autocomplete #auto3="matAutocomplete"
                                                (optionSelected)="ipIntelligenceWhiteListSelected($event)"
                                                [displayWith]="displayIpIntelligenceListFn">

                                                <mat-option *ngFor="let option of filteredIpIntelligenceWhiteLists"
                                                    [value]="option">
                                                    {{option.name}}
                                                </mat-option>



                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </p>



                                </div>

                                <div class="ips-group policy-authn-ips-direct-deny">
                                    <div class="ips-header">
                                        <mat-label matBadge="2"
                                            matBadgeOverlap="false">{{'DenyImmediately'|translate|titlecase}}</mat-label>
                                        <div></div>
                                        <mat-hint class="ips-header-hint">{{'DenyImmediatelyHint'|translate}}</mat-hint>
                                    </div>

                                    <p class="policy-authn-rule-column policy-authn-rule-item policy-authn-rule-list ">

                                        <mat-form-field fxFlex appearance="fill">
                                            <mat-label>{{"CustomBlackList"|translate}}</mat-label>
                                            <mat-chip-list #chipListBlackListIp>
                                                <mat-chip test-id="policy-authn-rule-blacklist-chip"
                                                    *ngFor="let ip of rule.profile?.blackListIps || []"
                                                    (removed)="removeIpOrCidrBlackList(ip)">
                                                    {{ip.ip}}
                                                    <button matChipRemove>
                                                        <mat-icon>cancel</mat-icon>
                                                    </button>
                                                </mat-chip>
                                                <input placeholder="{{'NewIpOrNetwork' |translate}}"
                                                    [matChipInputFor]="chipListBlackListIp"
                                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                    [matChipInputAddOnBlur]="addOnBlur"
                                                    (matChipInputTokenEnd)="addIpOrCidrBlackList($event)">
                                            </mat-chip-list>
                                            <mat-hint>{{"IpOrNewtorkHint"|translate}}</mat-hint>
                                        </mat-form-field>
                                    </p>

                                    <p class="policy-authn-rule-column policy-authn-rule-item policy-authn-rule-list ">

                                        <mat-form-field fxFlex appearance="fill">
                                            <mat-label>{{"IpIntelligenceLists"|translate}}</mat-label>
                                            <mat-chip-list #chipListIpIntelligenceBlackList>
                                                <mat-chip test-id="policy-authn-rule-intel-blacklist-chip"
                                                    *ngFor="let ug of rule.profile.ipIntelligence?.blackListsEx||[]"
                                                    (removed)="removeIpIntelligenceBlackList(ug)">
                                                    {{ug.name}}
                                                    <button matChipRemove>
                                                        <mat-icon>cancel</mat-icon>
                                                    </button>
                                                </mat-chip>
                                                <input placeholder="{{'Search' |translate}}"
                                                    [matChipInputFor]="chipListIpIntelligenceBlackList"
                                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                    [matChipInputAddOnBlur]="addOnBlur" [matAutocomplete]="auto4"
                                                    [formControl]="ipIntelligenceBlackListControl">
                                            </mat-chip-list>
                                            <mat-autocomplete #auto4="matAutocomplete"
                                                (optionSelected)="ipIntelligenceBlackListSelected($event)"
                                                [displayWith]="displayIpIntelligenceListFn">

                                                <mat-option *ngFor="let option of filteredIpIntelligenceBlackLists"
                                                    [value]="option">
                                                    {{option.name}}
                                                </mat-option>



                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </p>


                                    <p class="direct-deny-item">
                                        <mat-checkbox test-id="policy-authn-rule-ip-isproxy-enabled"
                                            [(ngModel)]="ipIntelligence.isProxy" [ngModelOptions]="{standalone:true}"
                                            [checked]="ipIntelligence.isProxy" (ngModelChange)="modelChanged()">
                                            {{"IsProxyIp"|translate}}</mat-checkbox>

                                    </p>
                                    <p class="direct-deny-item">
                                        <mat-checkbox test-id="policy-authn-rule-ip-ishosting-enabled"
                                            [(ngModel)]="ipIntelligence.isHosting" [ngModelOptions]="{standalone:true}"
                                            [checked]="ipIntelligence.isHosting" (ngModelChange)="modelChanged()">
                                            {{"IsHostingIp"|translate}}</mat-checkbox>

                                    </p>
                                    <p class="direct-deny-item">
                                        <mat-checkbox test-id="policy-authn-rule-ip-iscrawler-enabled"
                                            [(ngModel)]="ipIntelligence.isCrawler" [ngModelOptions]="{standalone:true}"
                                            [checked]="ipIntelligence.isCrawler" (ngModelChange)="modelChanged()">
                                            {{"IsCrawlerIp"|translate}}</mat-checkbox>

                                    </p>

                                </div>

                                <div class="ips-group policy-authn-ips-allow-country">
                                    <div class="ips-header">
                                        <mat-label matBadge="3"
                                            matBadgeOverlap="false">{{'IpCountryListDefinition'|translate|titlecase}}</mat-label>
                                        <div></div>
                                        <mat-hint class="ips-header-hint">{{'IpCountryListHint'|translate}}</mat-hint>
                                    </div>
                                    <p class="direct-deny-item">
                                        <mat-form-field fxFlex appearance="fill">
                                            <mat-label>{{"Country"|translate}}</mat-label>
                                            <mat-select [formControl]="countryMultiCtrl" [multiple]="true" #multiSelect>
                                                <mat-option>
                                                    <ngx-mat-select-search [formControl]="countryMultiFilterCtrl"
                                                        [showToggleAllCheckbox]="true"
                                                        [toggleAllCheckboxIndeterminate]="isCountryListIndeterminate"
                                                        [toggleAllCheckboxChecked]="isCountryListChecked"
                                                        (toggleAll)="toggleSelectAllCountryList($event)"
                                                        placeholderLabel="{{'FindCountry'|translate}}..."
                                                        noEntriesFoundLabel="{{'NoMatchingCountryFound'|translate}}"></ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option test-id="policy-authn-rule-ip-country-options"
                                                    *ngFor="let country of filteredCountryListMulti | async"
                                                    [value]="country">{{country.name}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </p>
                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab label="{{'Time'|translate}}">
                            <div test-id="policy-authn-tab-times" fxFlex fxLayout="column" class="tabpanel">
                                <p class="policy-authn-rule-column" fxFlex>

                                    <mat-form-field fxFlex appearance="fill">
                                        <mat-label>{{"Times"|translate}}</mat-label>
                                        <mat-chip-list #chipList2>
                                            <mat-chip test-id="policy-authn-rule-time-chip"
                                                *ngFor="let ug of rule.profile.times"
                                                (removed)="removeTimeProfile(ug.objId)">
                                                {{ug.name}}
                                                <button matChipRemove>
                                                    <mat-icon>cancel</mat-icon>
                                                </button>
                                            </mat-chip>
                                            <span>
                                                <button mat-icon-button color="primary" class="add"
                                                    test-id="policy-authn-rule-time-add-button"
                                                    (click)="showHideAddTime()">
                                                    <mat-icon *ngIf="!showAddTime">add</mat-icon>
                                                    <mat-icon *ngIf="showAddTime">cancel</mat-icon>
                                                </button>
                                            </span>

                                        </mat-chip-list>
                                    </mat-form-field>
                                </p>
                                <p>
                                    <span *ngIf="showAddTime" fxFlex fxLayout="column" class="add-time"
                                        test-id="policy-authn-rule-time-add-ui">
                                        <app-policy-authn-rule-time-add [timezoneList]="timezoneList"
                                            (add)="addTimeProfile($event)"></app-policy-authn-rule-time-add>

                                    </span>
                                </p>
                            </div>




                        </mat-tab>

                        <mat-tab label="{{'DevicePosture'|translate}}">
                            <div test-id="policy-authn-tab-devicepostures" fxFlex fxLayout="column" class="tabpanel">
                                <p class="policy-authn-rule-column policy-authn-rule-item">

                                    <mat-form-field fxFlex appearance="fill">
                                        <mat-label>{{"DevicePostures"|translate}}</mat-label>
                                        <mat-chip-list #chipListDevicePostures>
                                            <mat-chip test-id="policy-authn-rule-intel-deviceposture-chip"
                                                *ngFor="let ug of rule.profile.device?.posturesEx||[]"
                                                (removed)="removeDevicePosture(ug)">
                                                {{ug.name}}
                                                <button matChipRemove>
                                                    <mat-icon>cancel</mat-icon>
                                                </button>
                                            </mat-chip>
                                            <input placeholder="{{'Search' |translate}}"
                                                [matChipInputFor]="chipListDevicePostures"
                                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                [matChipInputAddOnBlur]="addOnBlur" [matAutocomplete]="auto5"
                                                [formControl]="devicePosturesControl">
                                        </mat-chip-list>
                                        <mat-autocomplete #auto5="matAutocomplete"
                                            (optionSelected)="devicePostureSelected($event)"
                                            [displayWith]="displayDevicePostureFn">

                                            <mat-option *ngFor="let option of filteredDevicePostures" [value]="option">
                                                {{option.name}}
                                            </mat-option>



                                        </mat-autocomplete>
                                    </mat-form-field>
                                </p>
                            </div>




                        </mat-tab>

                    </mat-tab-group>
                </form>



                <div>
                    <mat-divider></mat-divider>
                    <mat-toolbar style="height:35px">
                        <mat-action-row class="policy-authn-rule-actions" fxFlex fxLayoutAlign="start center">
                            <button test-id="policy-authn-rule-delete-button" mat-icon-button color="primary"
                                matTooltip="{{'Delete'|translate}}" (click)="delete()">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <span *ngIf="rule.isChanged" fxFlex fxLayoutAlign="end center">
                                <button test-id="policy-authn-rule-close-button" mat-icon-button color="warn"
                                    matTooltip="{{'CancelChanges'|translate}}" (click)="clear()">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <button test-id="policy-authn-rule-ok-button" mat-icon-button color="warn"
                                    matTooltip="{{'SaveChanges'|translate}}" (click)="saveOrUpdate()">
                                    <mat-icon>check</mat-icon>
                                </button>
                            </span>

                        </mat-action-row>
                    </mat-toolbar>

                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

</div>