.policy-authn-rule {
    min-width: 300px;
}

.policy-authn-rule .tabpanel {
    min-height: 200px;
}

.policy-authn-rule .row {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
}

.policy-authn-rule .title {
    padding-top: 20px;
    font-size: 1.5rem;
}

.policy-authn-rule .row-pad {
    margin-left: 15px;
}

.policy-authn-rule .policy-authn-rule-form {
    padding-top: 5px;
}

.policy-authn-rule .policy-authn-rule-item {
    //max-width: 700px;
    //max-height: 700px;
    //padding-right: 30px;

}


.policy-authn-rule .add-time {
    margin-top: -30px;
    margin-bottom: 30px;
    border-width: 1px;
    border-style: groove;
    //max-width: 500px;

}

.policy-authn-rule .policy-authn-rule-header-actions {
    padding: 0px;
    border-top-style: none;
}

.policy-authn-rule .explanation {
    padding-top: 5px;
    //padding-bottom: 5px;
}

.policy-authn-rule .drop {
    background-color: #edc0c0;
    border-radius: 10px;
}


.policy-authn-rule .explanation-item {
    padding-left: 5px;
}

.policy-authn-rule .explanation-bold {
    font-weight: 500;
}


.policy-authn-rule .policy-authn-rule-title {
    padding-left: 10px;
}


.policy-authn-rule .policy-authn-rule-actions {
    padding: 0px;
    border-top-style: none;
}



.policy-authn-rule .policy-authn-rule-item {}


.policy-authn-rule .policy-authn-rule-header-actions {
    padding: 0px;
    border-top-style: none;
}

.policy-authn-rule form {
    background-color: #d3d3d3;

}

.theme-dark .policy-authn-rule form {
    background-color: #383535;

}

.policy-authn-rule .policy-authn-rule-checkbox {
    padding-left: 10px;
}

.policy-authn-rule .reorder {
    cursor: move;
    color: #ccc;
}

.policy-authn-rule .ips-header {
    padding-top: 20px;
    //padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;

}


.policy-authn-rule .ips-header-hint {
    padding-top: 20px;
    padding-bottom: 20px;

}




.policy-authn-rule .ips-group {
    border-width: 1px;
    border-style: groove;
    padding-top: 20px;
    padding-left: 10px;
    margin: 5px;
    min-width: 400px;
}

.policy-authn-rule .direct-deny-item {

    //padding-top: 10px;

}