.auth-ldap {
    min-width: 500px;
}

.auth-ldap .row {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
}

.auth-ldap .title {
    padding-top: 20px;
    font-size: 1.5rem;
}

.auth-ldap .row-pad {
    margin-left: 15px;
}

.auth-ldap .auth-ldap-item {
    max-width: 700px;
    max-height: 700px;
    padding-right: 30px;
}

.auth-ldap .auth-ldap-title {
    padding-left: 10px;
}

.auth-ldap .auth-ldap-actions {
    padding: 0px;
    border-top-style: none;
}


.auth-ldap .auth-ldap-header-actions {
    padding: 0px;
    border-top-style: none;
}