.pagenotfound {}

.pagenotfound .pagenotfound-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    text-align: center;

}

.pagenotfound .pagenotfound-title {

    font-size: 4rem;

}

.pagenotfound .pagenotfound-subtitle {

    font-size: 1.8rem;

}