.policy-authz-rule-fqdn {

    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-right: 2px;

}

.policy-authz-rule-fqdn-header {
    padding-top: 20px;
    //padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;

}


.policy-authz-rule-fqdn-header-hint {
    padding-top: 20px;
    padding-bottom: 20px;

}

.policy-authz-rule-fqdn-list {
    max-height: 200px;
    overflow-y: auto;

}




.policy-authz-rule-fqdn-group {
    border-width: 1px;
    border-style: groove;
    padding-top: 20px;
    padding-left: 10px;
    margin: 5px;
    min-width: 400px;
}