<div class="config-pki-web">

    <mat-card>
        <mat-card-header>
            <mat-card-title matTooltip="{{'Cert'|translate}} {{cert.name}}">
                <mat-icon matListIcon svgIcon="cert"></mat-icon>
            </mat-card-title>
            <mat-action-row class="cert-header-actions" fxFlex fxLayoutAlign="end center" *ngIf="helpLink">
                <button style="padding-right:10px" mat-icon-button matTooltip="{{'Help'|translate}}"
                    (click)="openHelp()">
                    <mat-icon>help_outline</mat-icon>
                </button>

            </mat-action-row>
        </mat-card-header>

        <mat-card-content>
            <div>
                <div>

                    <form test-id="cert-form" [formGroup]="formGroup">



                        <p>
                            <mat-form-field fxFlex appearance="fill">
                                <mat-label>{{"Name"|translate}}</mat-label>
                                <input matInput test-id="cert-name-input" placeholder="{{'CertName'|translate}}"
                                    formControlName="name" required [readonly]="cert.isSystem">
                                <mat-error>{{formError.name|translate}}</mat-error>

                            </mat-form-field>
                        </p>


                        <p>
                            <mat-form-field fxFlex appearance="fill">
                                <mat-label>{{"Labels"|translate}}</mat-label>
                                <mat-chip-list #chipList>
                                    <mat-chip test-id="cert-label-chip" *ngFor="let label of cert.labels||[]"
                                        (removed)="removeLabel(label)">
                                        {{label}}
                                        <button matChipRemove>
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </mat-chip>
                                    <input placeholder="{{'NewLabel' |translate}}" [matChipInputFor]="chipList"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addLabel($event)"
                                        [readonly]="cert.isSystem">
                                </mat-chip-list>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field fxFlex appearance="fill" disa>
                                <mat-label>{{"UpdateDate"|translate}}</mat-label>
                                <input matInput test-id="cert-updatedate-input" formControlName="updateDateStr"
                                    readonly="true" required="false">

                            </mat-form-field>
                        </p>
                        <p fxFill class="pem">
                            <mat-form-field appearance="fill" fxFill>
                                <mat-label>{{"PrivateKey"|translate}}</mat-label>
                                <textarea spellcheck="false" class="prv-text" multiple="true" matInput
                                    test-id="cert-private-input" placeholder="-----BEGIN PRIVATE KEY-----"
                                    formControlName="privateKey">
                                            </textarea>

                                <mat-error>
                                    {{formError.publicCrt|translate}}</mat-error>
                            </mat-form-field>
                        </p>


                        <p fxFill class="pem">
                            <mat-form-field appearance="fill" fxFill>
                                <mat-label>{{"PEM"|translate}}</mat-label>
                                <textarea spellcheck="false" class="pem-text" multiple="true" matInput
                                    test-id="cert-pem-input" placeholder="-----BEGIN CERTIFICATE-----"
                                    formControlName="publicCrt">
                                            </textarea>
                                <span fxFlex fxLayout="column" fxLayoutAlign="end end">

                                    <button matSuffix mat-icon-button (click)="copyCert()" [disabled]="!cert.publicCrt">
                                        <mat-icon matSuffix matTooltip="{{'Copy'|translate}}">{{'file_copy'}}</mat-icon>
                                    </button>

                                </span>
                                <mat-error>
                                    {{formError.publicCrt|translate}}</mat-error>
                            </mat-form-field>
                        </p>

                        <p fxFill class="pem">
                            <mat-form-field appearance="fill" fxFill>
                                <mat-label>{{"ChainPEM"|translate}}</mat-label>
                                <textarea spellcheck="false" class="pem-text" multiple="true" matInput
                                    test-id="cert-chain-pem-input" placeholder="-----BEGIN CERTIFICATE-----"
                                    formControlName="chainCrt">
                                            </textarea>
                                <span fxFlex fxLayout="column" fxLayoutAlign="end end">

                                    <button matSuffix mat-icon-button (click)="copyChainCert()"
                                        [disabled]="!cert.chainCrt">
                                        <mat-icon matSuffix matTooltip="{{'Copy'|translate}}">{{'file_copy'}}</mat-icon>
                                    </button>

                                </span>
                                <mat-error>
                                    {{formError.publicCrt|translate}}</mat-error>
                            </mat-form-field>
                        </p>

                        <p fxFill class="pem">

                            <mat-icon matSuffix svgIcon="lets-encrypt"></mat-icon>
                            <mat-label>{{"LetsEncrypt"|translate}}</mat-label>
                            <mat-label>
                                <button *ngIf="!_model.letsEncrypt" matSuffix mat-icon-button
                                    (click)="enableDisableLetsEncrypt(true)">
                                    <mat-icon matSuffix matTooltip="{{'Enable'|translate}}">{{'power'}}</mat-icon>
                                </button>
                                <button *ngIf="_model.letsEncrypt" matSuffix mat-icon-button
                                    (click)="enableDisableLetsEncrypt(false)">
                                    <mat-icon matSuffix matTooltip="{{'Disable'|translate}}">{{'power_off'}}</mat-icon>
                                </button>

                            </mat-label>
                            <span fxFill>
                                <span *ngIf="_model.letsEncrypt" fxLayoutAlign="start start" class="lets-encrypt">
                                    <mat-label>{{"LastUpdate"|translate}}:</mat-label>
                                    <mat-label style="padding-left:10px">{{_model.updateDateStr}}</mat-label>
                                </span>
                                <span *ngIf="_model.letsEncrypt" fxLayoutAlign="start start" class="lets-encrypt">
                                    <mat-label>{{"Domain"|translate}}:</mat-label>
                                    <mat-label style="padding-left:10px">{{_model.letsEncrypt?.domain||''}}</mat-label>
                                </span>

                                <!-- <span fxLayoutAlign="end start">
                                    <button *ngIf="!_model.letsEncrypt" matSuffix mat-icon-button
                                        (click)="enableDisableLetsEncrypt(true)">
                                        <mat-icon matSuffix matTooltip="{{'Enable'|translate}}">{{'power'}}</mat-icon>
                                    </button>
                                    <button *ngIf="_model.letsEncrypt" matSuffix mat-icon-button
                                        (click)="enableDisableLetsEncrypt(false)">
                                        <mat-icon matSuffix
                                            matTooltip="{{'Disable'|translate}}">{{'power_off'}}</mat-icon>
                                    </button>
                                </span> -->
                            </span>

                        </p>


                        <p>
                            <mat-checkbox test-id="cert-checkbox-enabled" [(ngModel)]="cert.isEnabled"
                                [checked]="cert.isEnabled" [ngModelOptions]="{standalone:true}"
                                (ngModelChange)="modelChanged()" disabled="{{cert.isSystem==true}}">
                                {{"Enabled"|translate}} </mat-checkbox>
                        </p>

                    </form>

                </div>

                <div>
                    <mat-divider></mat-divider>
                    <mat-toolbar style="height:35px">
                        <mat-action-row class="cert-actions" fxFlex fxLayoutAlign="start center">
                            <button test-id="cert-delete-button" mat-icon-button color="primary"
                                matTooltip="{{'Refresh'|translate}}" (click)="delete()">
                                <mat-icon>refresh</mat-icon>
                            </button>
                            <span *ngIf="cert.isChanged" fxFlex fxLayoutAlign="end center">
                                <button test-id="cert-close-button" mat-icon-button color="warn"
                                    matTooltip="{{'CancelChanges'|translate}}" (click)="clear()">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <button test-id="cert-ok-button" mat-icon-button color="warn"
                                    matTooltip="{{'SaveChanges'|translate}}" (click)="saveOrUpdate()">
                                    <mat-icon>check</mat-icon>
                                </button>
                            </span>

                        </mat-action-row>
                    </mat-toolbar>

                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>