.auth-local {
    min-width: 300px;
}

.auth-local .row {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
}

.auth-local .title {
    padding-top: 20px;
    font-size: 1.5rem;
}

.auth-local .row-pad {
    margin-left: 15px;
}

.auth-local .auth-local-item {
    max-width: 700px;
    max-height: 700px;
    padding-right: 30px;
}

.auth-local .auth-local-title {
    padding-left: 10px;
}

.auth-local .auth-local-actions {
    padding: 0px;
    border-top-style: none;
}

.auth-local .auth-local-header-actions {
    padding: 0px;
    border-top-style: none;
}