.uprofile {
    min-width: 300px;
}

.uprofile .row {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
}

.uprofile .title {
    padding-top: 20px;
    font-size: 1.5rem;
}

.uprofile .row-pad {
    margin-left: 15px;
}

.uprofile .uprofile-item {
    max-width: 300px;
    max-height: 700px;
    padding-right: 30px;

}

.uprofile .uprofile-title {
    padding-left: 10px;
}

.uprofile .uprofile-actions {
    padding: 0px;
    border-top-style: none;
}

.uprofile .uprofile-header-actions {
    padding: 0px;
    border-top-style: none;
}