<div class="uprofile">
    <mat-card class="uprofile-item">
        <mat-card-header>
            <mat-card-title matTooltip="{{'Profile'|translate}}">
                <mat-icon>person_pin
                </mat-icon>
            </mat-card-title>

        </mat-card-header>

        <mat-card-content>
            <div>
                <div>

                    <form test-id="uprofile-form" [formGroup]="formGroup">


                        <p>
                            <mat-form-field fxFlex appearance="fill">
                                <mat-label>{{"BrowserIdleTimeoutMinute"|translate}}</mat-label>
                                <input type="number" min="1" max="65535" matInput test-id="browser-idle-timeout"
                                    placeholder="1 minute" formControlName="browserTimeout">
                                <mat-error>{{error.browserTimeout|translate}}</mat-error>
                                <mat-hint>{{"BrowserIdleTimeoutHint"|translate}}</mat-hint>
                            </mat-form-field>

                        </p>

                    </form>


                </div>

                <div>
                    <mat-divider></mat-divider>
                    <mat-toolbar style="height:35px">
                        <mat-action-row class="uprofile-actions" fxFlex fxLayoutAlign="start center">
                            <span *ngIf="model.isChanged" fxFlex fxLayoutAlign="end center">
                                <button test-id="uprofile-close-button" mat-icon-button color="warn"
                                    matTooltip="{{'CancelChanges'|translate}}" (click)="clear()">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <button test-id="uprofile-ok-button" mat-icon-button color="warn"
                                    matTooltip="{{'SaveChanges'|translate}}" (click)="saveOrUpdate()">
                                    <mat-icon>check</mat-icon>
                                </button>
                            </span>

                        </mat-action-row>
                    </mat-toolbar>

                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>