.zerolayout {
    //background-color: blue;

    height: 100vh;
    border: 1px solid transparent;
    box-sizing: border-box;

}

.zerolayout-themeselector {
    margin: 25px;
}

.zerolayout-languageselector {
    margin-right: 25px;
    width: 50px;
    text-align: center;

}