.dashboard-status {
    //min-width: 250px;
}

.dashboard-status .row {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
}

.dashboard-status .row-pad {}

.dashboard-status .dashboard-status-item {
    max-width: 700px;
    max-height: 700px;
    padding-right: 30px;

}

.dashboard-status .dashboard-status-title {

    font-size: 0.9rem;

}

.dashboard-status .dashboard-status-content {
    padding-left: 10px;
    text-align: center;
}