<div class="networks-container">
    <div class="networks networks-toolbar">
        <div fxFlex fxLayout="column">
            <div class="row title">
                Networks
            </div>
            <div class="row" fxLayout="row">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Search" [formControl]="searchForm" />
                </mat-form-field>
                <div fxLayoutAlign="center center">
                    <button mat-raised-button color="primary" class="add" (click)="addNewNetwork()">
                        <mat-icon>add</mat-icon>
                        Add
                    </button>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>

    <div class="networks networks-content">

        <div fxLayout="row wrap">
            <p class="row network-item" fxLayout="row" *ngFor="let net of networks">

                <app-network [network]="net" (deleteNetwork)="deleteNetwork($event)"
                    (saveNetwork)="saveNetwork($event)">

                </app-network>
                <span class="network-gateways" *ngIf="net.isGatewayOpened">
                    <mat-card>
                        <mat-card-header>
                            <mat-label class="gateway-title">Gateways</mat-label>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="gateway-item" fxFlex fxLayout="row wrap">
                                <app-gateway [gateway]="gate" [networks]="networks" (saveGateway)="saveGateway($event)"
                                    (deleteGateway)="deleteGateway($event)" *ngFor="let gate of filterGateways(net)">
                                </app-gateway>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </span>
            </p>
        </div>


    </div>
</div>