.resetpass-mat-card {
    max-width: 500px;
    margin: 2em auto;
    text-align: center;
}

.resetpass-resetpass {
    margin-top: 10px;
}

.resetpass-container {
    max-width: 600px;
}

.resetpass-form-field {
    min-width: 300px;
}

.resetpass-error {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.resetpass-resetpassed {
    max-width: 300px;

}

.resetpass-subtitle {
    padding-top: 10px;
}

.resetpass-title {
    padding-bottom: 15px;
    font-size: 1.2rem;
}