<div class="dsetting-changepass-container" [ngClass]="isThemeDark?'theme-dark':''">
    <div class="dsetting-changepass dsetting-changepass-toolbar">
        <div fxFlex fxLayout="column">
            <div class="row dsetting-changepass-title">
                <span>{{'Password'|translate}}</span>
            </div>

            <mat-divider></mat-divider>
        </div>
    </div>
    <div class="dsetting-changepass dsetting-changepass-content">


        <div class="dsetting-changepass-item" fxLayout="row wrap">
            <app-changepass test-id="dsetting-changepass" [model]="changePassModel" (changePass)="changePass($event)">
            </app-changepass>

        </div>
    </div>
</div>