.dsetting-changepass-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.dsetting-changepass-toolbar {

    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    font-size: 0.9rem;
    height: 80px;
    padding-top: 25px;

}

.dsetting-changepass .row {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
}

.dsetting-changepass .dsetting-changepass-item {
    padding-left: 25px;
    padding-bottom: 25px;
}

.dsetting-changepass .dsetting-changepass-title {

    padding-bottom: 10px;
    font-size: 1.2rem;
}


.dsetting-changepass .dsetting-changepass-group {
    margin: 15px;
    background: transparent;


}

.dsetting-changepass .dsetting-changepass-group-title {
    font-size: 1.2rem;


}









.dsetting-changepass-content {
    margin-top: 10px;
    margin-bottom: 10px;
    height: calc(100vh - 60px - 30px - 10px);
    overflow: auto;
}

.dsetting-changepass .content-divider {
    padding-bottom: 10px;
}

.dsetting-changepass .dsetting-changepass-status {
    min-width: 250px;
}