.fileupload {}

.fileupload .file-input {
    display: none;
}

.fileupload .progress {
    margin-top: 10px;
    min-width: 100px;
    min-height: 25px;

}

.fileupload .filename {
    padding-right: 10px;

}