.insights-activity-detail {
    min-width: 300px;

}

.insights-activity-detail .mat-list-item {
    font-size: 0.9rem;
}

.insights-activity-detail-content {
    max-height: 600px;
    overflow: auto;
}



.insights-activity-detail {
    min-width: 300px;
}

.insights-activity-detail-button {

    padding-bottom: 15px;
    padding-right: 10px;
    padding-top: 10px;
    margin-bottom: 0px;
}

.insights-activity-detail-title {
    padding-left: 10px;
}

.insights-activity-detail-message {
    padding-left: 10px;
}

.insights-activity-detail-table-value {
    padding-left: 10px
}