<div class="auth-saml">

    <mat-card>
        <mat-card-header>
            <mat-card-title matTooltip="{{model.name}}">
                <mat-icon *ngIf="model.svgIcon" [svgIcon]="model.svgIcon"></mat-icon>
                <mat-icon *ngIf="!model.svgIcon">local_library</mat-icon>
            </mat-card-title>
            <h3>{{model.name}}</h3>
            <mat-action-row fxFlex fxLayoutAlign="end center" *ngIf="helpLink">
                <button mat-icon-button matTooltip="{{'Help'|translate}}" (click)="openHelp()">
                    <mat-icon>help_outline</mat-icon>
                </button>
            </mat-action-row>

        </mat-card-header>

        <mat-card-content>
            <div>
                <div>
                    <form test-id="auth-saml-form" [formGroup]="formGroup">
                        <p fxFill class="auth-saml-exp">
                            <mat-form-field appearance="fill" fxFill class="auth-saml-width">
                                <mat-label>{{"LoginUrl"|translate}}</mat-label>
                                <input matInput test-id="auth-saml-loginurl-input"
                                    placeholder="https://login.saml.org/client/29aSle9" formControlName="loginUrl"
                                    required>
                                <mat-hint>{{"LoginUrlHint"|translate}}
                                </mat-hint>
                                <mat-error>{{error.loginUrl|translate}}</mat-error>
                            </mat-form-field>
                        </p>
                        <p fxFill class="auth-saml-explanation ">
                            <mat-form-field appearance="fill" fxFill class="auth-saml-width">
                                <mat-label>{{"Issuer"|translate}}</mat-label>
                                <input matInput test-id="auth-saml-issuer-input" placeholder="urn:dev.ferrumgate.com"
                                    formControlName="issuer" required>
                                <mat-hint>{{"IssuerHint"|translate}}</mat-hint>
                                <mat-error>{{error.issuer|translate}}</mat-error>

                            </mat-form-field>
                        </p>
                        <p fxFill class="auth-saml-explanation ">
                            <mat-form-field appearance="fill" fxFill class="auth-saml-width">
                                <mat-label>{{"Cert"|translate}}</mat-label>
                                <textarea spellcheck="false" class="auth-saml-cert" type="text" matInput
                                    test-id="auth-saml-cert-input" placeholder="-----Begin Certificate ----"
                                    formControlName="cert" required>
                                </textarea>
                                <p fxFlex fxLayout="start start">
                                    <input type="file" hidden #fileUpload (change)="selectCertFile($event)">
                                    <button mat-icon-button color="primary" matTooltip="{{'SelectFile'|translate}}"
                                        (click)="fileUpload.click()">
                                        <mat-icon>attach_file</mat-icon>
                                    </button>
                                </p>
                                <mat-hint>{{"CertHint"|translate}}</mat-hint>
                                <mat-error>{{error.cert|translate}}</mat-error>

                            </mat-form-field>
                        </p>
                        <p fxFill class="auth-saml-explanation ">
                            <mat-form-field appearance="fill" fxFill class="auth-saml-width">
                                <mat-label>{{"UsernameField"|translate}}</mat-label>
                                <input matInput test-id="auth-saml-usernamefield-input"
                                    placeholder="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress"
                                    formControlName="usernameField" required>
                                <mat-hint>{{"UsernameFieldHint"|translate}}</mat-hint>
                                <mat-error>{{error.usernameField|translate}}</mat-error>

                            </mat-form-field>
                        </p>
                        <p fxFill class="auth-saml-explanation ">
                            <mat-form-field appearance="fill" fxFill class="auth-saml-width">
                                <mat-label>{{"NameField"|translate}}</mat-label>
                                <input matInput test-id="auth-saml-namefield-input"
                                    placeholder="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"
                                    formControlName="nameField" required>
                                <mat-hint>{{"NameFieldHint"|translate}}</mat-hint>
                                <mat-error>{{error.nameField|translate}}</mat-error>

                            </mat-form-field>
                        </p>
                        <p>
                            <mat-checkbox test-id="auth-saml-checkbox-enabled" [(ngModel)]="model.saveNewUser"
                                [ngModelOptions]="{standalone:true}" (ngModelChange)="modelChanged()">
                                {{"SaveNewUserIfAuthenticated"|translate}}</mat-checkbox>
                        </p>
                        <p>
                            <mat-checkbox test-id="auth-saml-checkbox-enabled" [(ngModel)]="model.isEnabled"
                                [ngModelOptions]="{standalone:true}" (ngModelChange)="modelChanged()">
                                {{"Enabled"|translate}}</mat-checkbox>
                        </p>
                    </form>
                </div>

                <div>
                    <mat-divider></mat-divider>
                    <mat-toolbar style="height:35px">
                        <mat-action-row class="auth-saml-actions" fxFlex fxLayoutAlign="start center">
                            <button mat-icon-button color="primary" matTooltip="{{'Delete'|translate}}"
                                (click)="delete()">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <span *ngIf="model.isChanged" fxFlex fxLayoutAlign="end center">
                                <button mat-icon-button color="warn" matTooltip="{{'CancelChanges'|translate}}"
                                    (click)="clear()">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <button test-id="auth-saml-ok-button" mat-icon-button color="warn"
                                    matTooltip="{{'SaveChanges'|translate}}" (click)="saveOrUpdate()">
                                    <mat-icon>check</mat-icon>
                                </button>
                            </span>

                        </mat-action-row>
                    </mat-toolbar>


                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>