<div class="config-ip-intelligence">
    <div class="config-ip-intelligence-toolbar">
        <div fxFlex fxLayout="column">
            <div class="row title">
                {{'IpIntelligence'|translate}}
            </div>

        </div>
    </div>

    <mat-tab-group dynamicHeight>

        <mat-tab label="{{'BlackList'|translate}}">
            <app-config-ip-intelligence-bwlist helpLink="{{helpLink}}" isBlackList="true"
                (deleteItem)="deleteBlackList($event)" (saveItems)="saveBlackList($event)"
                (search)="searchBlackList($event)" [model]="blackList">bwlist</app-config-ip-intelligence-bwlist>
        </mat-tab>
        <mat-tab label="{{'WhiteList'|translate}}">
            <app-config-ip-intelligence-bwlist helpLink="{{helpLink}}" isBlackList="false"
                (deleteItem)="deleteWhiteList($event)" (saveItems)="saveWhiteList($event)"
                (search)="searchWhiteList($event)" [model]="whiteList">whitelist</app-config-ip-intelligence-bwlist>
        </mat-tab>
        <mat-tab label="{{'Source'|translate}}">
            <app-config-ip-intelligence-source helpLink="{{helpLink}}" [model]="getSource()" (save)="saveSource($event)"
                (delete)="deleteSource($event)" (check)="checkSource($event)"></app-config-ip-intelligence-source>
        </mat-tab>
    </mat-tab-group>

</div>