<div class="accounts-users accounts-users-container" [ngClass]="isThemeDark?'theme-dark':''">
    <div class="accounts-users-toolbar">
        <div fxFlex fxLayout="column">

            <div class="row title">

                <span matBadge="{{totalUsers}}" class="stretch-badge"
                    matBadgeOverlap="false">{{'Users'|translate}}</span>

            </div>

            <div class="row" fxLayout="row wrap">

                <mat-form-field class="accounts-users-search-item">
                    <mat-label>{{"Verified"|translate}}</mat-label>
                    <mat-select [(value)]="searchIsVerified" (selectionChange)="search()">
                        <mat-option value="none">{{"None"|translate}}</mat-option>
                        <mat-option value="true">{{"Yes"|translate}}</mat-option>
                        <mat-option value="false">{{"No"|translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="accounts-users-search-item">
                    <mat-label>{{"Locked"|translate}}</mat-label>
                    <mat-select [(value)]="searchIsLocked" (selectionChange)="search()">
                        <mat-option value="none">{{"None"|translate}}</mat-option>
                        <mat-option value="true">{{"Yes"|translate}}</mat-option>
                        <mat-option value="false">{{"No"|translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="accounts-users-search-item">
                    <mat-label>{{"EmailVerified"|translate}}</mat-label>
                    <mat-select [(value)]="searchIsEmailVerified" (selectionChange)="search()">
                        <mat-option value="none">{{"None"|translate}}</mat-option>
                        <mat-option value="true">{{"Yes"|translate}}</mat-option>
                        <mat-option value="false">{{"No"|translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="accounts-users-search-item">
                    <mat-label>{{"2FA"|translate}}</mat-label>
                    <mat-select [(value)]="searchIs2FA" (selectionChange)="search()">
                        <mat-option value="none">{{"None"|translate}}</mat-option>
                        <mat-option value="true">{{"Yes"|translate}}</mat-option>
                        <mat-option value="false">{{"No"|translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="accounts-users-search-item">
                    <mat-label>{{"Groups"|translate}}</mat-label>
                    <mat-select [formControl]="groupFormControl" multiple (selectionChange)="search()">
                        <mat-option *ngFor="let group of groups" [value]="group">{{group.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="accounts-users-search-item">
                    <mat-label>{{"Roles"|translate}}</mat-label>
                    <mat-select [formControl]="roleFormControl" multiple (selectionChange)="search()">
                        <mat-option *ngFor="let role of roles" [value]="role">{{role.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="accounts-users-search-item">
                    <mat-label>{{"LoginMethod"|translate}}</mat-label>
                    <mat-select [formControl]="loginMethodFormControl" multiple (selectionChange)="search()">
                        <mat-option *ngFor="let method of loginMethods" [value]="method">{{method.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <!--  <div fxFlex fxLayoutAlign="end center">
                    <button mat-raised-button color="primary" class="add">
                        <mat-icon>add</mat-icon>
                        {{"Add"|translate}}
                    </button>
                </div>
 -->
            </div>
            <div class="row" fxLayout="row wrap">
                <mat-form-field fxFlex>
                    <input matInput placeholder="{{'Search'|translate}}" [formControl]="searchForm" />
                    <mat-hint>{{"UsersSearchHint"|translate}}</mat-hint>
                </mat-form-field>
                <div fxLayoutAlign="center center">


                    <button test-id="button-add" mat-raised-button color="primary" class="add"
                        [matMenuTriggerFor]="menu">

                        {{"Add"|translate}}
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu">
                        <button test-id="button-apikey" mat-menu-item (click)="addNewUser()">

                            <span>{{"User"|translate}}</span>
                        </button>
                        <button test-id="button-apikey" mat-menu-item (click)="addNewApiKey()">

                            <span>{{"ApiKey"|translate}}</span>
                        </button>

                    </mat-menu>

                </div>


            </div>
            <div class="row" fxLayout="row wrap">

            </div>

            <mat-divider></mat-divider>
        </div>
    </div>
    <div class="accounts-users-paginator" fxLayoutAlign="end center">
        <mat-paginator [length]="totalUsers" [pageSize]="pageSize" [pageSizeOptions]="[1,5, 10, 25, 100]"
            aria-label="Select page" (page)="pageChanged($event)" size>
        </mat-paginator>
    </div>
    <div class="accounts-users-content" fxLayout="column">


        <div fxLayout="row wrap">

            <p class="row accounts-users-item" fxLayout="row" *ngFor="let user of users">

                <app-user test-id="accounts-users-user" [inCerts]="inCerts" [roles]="roles" [groups]="groups"
                    [user]="user" (deleteUser)="deleteUser($event)" (saveUser)="saveUser($event)"
                    (getUserSensitiveData)="getUserSensitiveData($event)"
                    (generateUserApiKey)="generateUserApiKey($event)" (deleteUserApiKey)="deleteUserApiKey($event)"
                    (generateUserCert)="generateUserCert($event)" (deleteUserCert)="deleteUserCert($event)"
                    (resetUserPassword)="resetUserPassword($event)">
                </app-user>

            </p>
        </div>


    </div>
</div>