.toolbar-container {

    font-size: 0.9rem;
}


.toolbar-sidenav {
    min-width: 250px;
}

.toolbar-sidecontainer {
    margin-top: 60px;
}

.toolbar-logo {
    height: 30px;
    padding-right: 5px;
}

.toolbar-themeselector {
    line-height: 1rem;
    margin-left: 20px;

}

.toolbar-languageselector {
    //margin-right: 25px;
    width: 50px;
    text-align: center;

}

.toolbar-user {
    line-height: 1rem;
    padding: 5px;

}

.toolbar-user-options {
    line-height: 1rem;
}

.toolbar-notifications {
    margin-right: 20px;
}