.auth-oauth {
    min-width: 300px;
}

.auth-oauth .row {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
}

.auth-oauth .title {
    padding-top: 20px;
    font-size: 1.5rem;
}

.auth-oauth .row-pad {
    margin-left: 15px;
}

.auth-oauth .auth-oauth-item {
    max-width: 700px;
    max-height: 700px;
    padding-right: 30px;
}

.auth-oauth .auth-oauth-title {
    padding-left: 10px;
}

.auth-oauth .auth-oauth-actions {
    padding: 0px;
    border-top-style: none;
}

.auth-oauth .auth-oauth-header-actions {
    padding: 0px;
    border-top-style: none;
}