.register-mat-card {
    max-width: 500px;
    margin: 2em auto;
    text-align: center;
}


.register-register {
    margin-top: 10px;
}



.register-container {
    max-width: 600px;
}

.register-form-field {
    min-width: 300px;
}

.register-error {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;

}

.register-registered {
    max-width: 300px;


}



.register-subtitle {
    padding-top: 10px;
}