<div class="config-backup">
    <div class="config-backup-toolbar">
        <div fxFlex fxLayout="column">
            <div class="row title">
                {{'Backup'|translate}}
            </div>

        </div>
    </div>
    <mat-card>
        <mat-card-header>
            <mat-card-title matTooltip='{{"Export"}}'>
                <mat-icon>cloud_download</mat-icon>

            </mat-card-title>
            <mat-action-row class="config-backup-header-actions" fxFlex fxLayoutAlign="end center" *ngIf="helpLink">
                <button mat-icon-button matTooltip="{{'Help'|translate}}" (click)="openHelp()">
                    <mat-icon>help_outline</mat-icon>
                </button>
            </mat-action-row>

        </mat-card-header>

        <mat-card-content>
            <div fxFill>

                <button mat-stroked-button (click)="export()">
                    <mat-icon>arrow_downward</mat-icon>
                    {{'Export'|translate}}</button>

                <div fxFlex></div>
                <button mat-stroked-button>
                    <mat-icon>arrow_upward</mat-icon>
                    {{'Import'|translate}}</button>


            </div>
            <div *ngIf="exportKey" fxFill class="row">

                <form fxFlex>
                    <mat-form-field fxFlex>
                        <mat-label class="title">{{'EncryptKey'|translate}}</mat-label>
                        <input type="text" test-id="backup-export-key-input" matInput readonly [value]="exportKey">
                        <mat-icon matSuffix (click)="copyExportKey()" matTooltip="Copy"
                            style="cursor: pointer;">file_copy</mat-icon>
                        <mat-hint>{{"YouWillNeedThisKeyForImportingFile"|translate}}</mat-hint>
                    </mat-form-field>
                </form>

            </div>
        </mat-card-content>
    </mat-card>
</div>