<div fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="footer-link">
        <a mat-button disabled>Copyright © 2022 FerrumGate</a>
    </div>
    <div class="footer-link">
        <a mat-button [href]="aboutLink" target="_blank">About</a>
    </div>
    <div class="footer-link">
        <a mat-button [href]="privacyLink" target="_blank">Privacy</a>
    </div>
    <div class="footer-link">
        <a mat-button [href]="documentsLink" target="_blank">Documents</a>
    </div>
    <div class="footer-link">
        <a mat-button [href]="supportLink" target="_blank">Support</a>
    </div>
    <div class="footer-link">
        <a mat-button href="https://ferrumgate.com" target="_blank">Powered by FerrumGate</a>
    </div>

</div>