<div class="services-container" [ngClass]="isThemeDark?'theme-dark':''">
    <div class="services services-toolbar">
        <div fxFlex fxLayout="column">
            <div class="row title">
                <span matBadge="{{services.length}}" matBadgeOverlap="false">{{'Services'|translate}}</span>
            </div>
            <div class="row" fxLayout="row">
                <mat-form-field fxFlex>
                    <input matInput placeholder="{{'Search'|translate}}" [formControl]="searchForm" />
                    <mat-hint>{{"ServicesSearchHint"|translate}}</mat-hint>
                </mat-form-field>
                <mat-form-field class="services-networks-item">
                    <mat-label>{{"Networks"|translate}}</mat-label>
                    <mat-select [formControl]="networkFormControl" multiple (selectionChange)="search()">
                        <mat-option *ngFor="let network of networks" [value]="network">{{network.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div fxLayoutAlign="center center">
                    <button mat-raised-button color="primary" class="add" [matMenuTriggerFor]="menu">

                        {{"Add"|translate}}
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="addNewService('raw')">
                            <mat-icon>swap_vert</mat-icon>
                            <span>Tcp/Udp</span>
                        </button>
                        <button mat-menu-item (click)="addNewService('dns')">
                            <mat-icon svgIcon="dns"></mat-icon>
                            <span>Dns</span>
                        </button>

                    </mat-menu>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
    <div class="services services-content">
        <div fxLayout="row wrap">
            <p class="row services-item" fxLayout="row" *ngFor="let service of services">

                <app-service test-id="services-service" [networks]="networks" [service]="service"
                    (saveService)="saveService($event)" (deleteService)="deleteService($event)">
                </app-service>

            </p>
        </div>


    </div>
</div>