.emailconfirm-mat-card {
    max-width: 500px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}


.emailconfirm-emailconfirm {
    min-height: 50px;
}



.emailconfirm-container {
    max-width: 600px;
}

.emailconfirm-form-field {
    min-width: 300px;
}

.emailconfirm-error {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


}

.emailconfirm-confirmed {
    max-width: 300px;


}



.emailconfirm-subtitle {
    padding-top: 10px;
}