.network .row {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
}

.network .title {
    padding-top: 20px;
    font-size: 1.5rem;
}

.network .row-pad {
    margin-left: 15px;
}

.network .network-item {
    max-width: 700px;
    max-height: 700px;
    padding-right: 30px;
}

.network .gateway-title {
    padding-left: 10px;
}