.network {
    min-width: 300px;
}

.network .row {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
}

.network .title {
    padding-top: 20px;
    font-size: 1.5rem;
}

.network .row-pad {
    margin-left: 15px;
}

.network .network-item {
    max-width: 700px;
    max-height: 700px;
    padding-right: 30px;
}


.network .network-actions {
    padding-left: 0px;
    padding-right: 0px;
}


.network .network-header-actions {
    padding: 0px;
    border-top-style: none;
}