.config-auth-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.config-auth-toolbar {

    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    font-size: 0.9rem;
    height: 120px;

}

.config-auth .row {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
}

.config-auth .title {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 1.2rem;
}

.config-auth .add {
    margin-left: 15px;
}

.config-auth-content {
    margin-top: 10px;
    margin-bottom: 10px;
    height: calc(100vh - 60px - 120px - 10px);
    overflow: auto;
}

.config-auth-item {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
}