.login-mat-card {
    max-width: 500px;
    margin: 2em auto;
    text-align: center;
}


.login-register {
    margin-top: 10px;
}

.login {}

.login-container {
    max-width: 600px;
}



.login-subtitle {
    padding-top: 10px;
}

.login-form-field {
    min-width: 300px;
}