<div class="login" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" class="login-container">
        <mat-card class="login-mat-card">

            <mat-card-content>
                <img mat-card-md-image src="/assets/img/logo-white.svg" *ngIf="isThemeDark">
                <img mat-card-md-image src="/assets/img/logo-black.svg" *ngIf="!isThemeDark">
                <div>
                    Ferrum Gate
                </div>


                <div class="login-subtitle">
                    Zero Trust Access
                </div>

            </mat-card-content>
        </mat-card>
        <mat-card *ngIf="!is2FA" fxLayout="column" fxLayoutAlign="center center" class="login-mat-card">
            <mat-card-title class="login-title">{{"SignIn"|translate}}</mat-card-title>
            <mat-card-content>
                <form test-id="login-form" [formGroup]="form" (ngSubmit)="submit()">
                    <p>
                        <mat-form-field class="login-form-field">
                            <input type="text" test-id="login-email-input" matInput placeholder="{{'Email'|translate}}"
                                formControlName="email" [(ngModel)]="model.email"
                                (ngModelChange)="modelChanged($event)">
                            <mat-error test-id="login-email-error" class="login-error"> {{ error.email |translate
                                }}
                            </mat-error>
                        </mat-form-field>

                    </p>

                    <p>
                        <mat-form-field class="login-form-field">
                            <input [type]="hidePassword?'password':'text'" test-id="login-password-input" matInput
                                placeholder="{{'Password'|translate}}" formControlName="password"
                                [(ngModel)]="model.password" (ngModelChange)="modelChanged($event)">
                            <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ?
                                'visibility_off' : 'visibility'}}</mat-icon>
                            <mat-error test-id="login-password-error" class="login-error"> {{ error.password
                                |translate}}</mat-error>
                        </mat-form-field>
                    </p>

                    <div>

                        <mat-error class="login-error" matTooltip="{{error.login|translate}}"> {{ error.login|translate
                            }}</mat-error>
                    </div>

                    <div class="button" fxLayout="row" fxLayoutAlign="center">
                        <button test-id="login-submit-button" type="submit" mat-raised-button
                            [disabled]="!form.valid">{{"SignIn"|translate}}</button>
                    </div>
                    <div class="login-forgotpassword" fxLayout="row" fxLayoutAlign="end">
                        <span> <a mat-flat-button href="/user/forgotpass"
                                target="_self">{{"ForgotPassword"|translate}}?</a></span>
                    </div>
                    <div class="login-register" fxLayout="row" fxLayoutAlign="end">
                        <span><a mat-flat-button href="/register"
                                target="_self">{{"DontHaveAnAccount"|translate}}?</a></span>
                    </div>


                </form>
            </mat-card-content>
        </mat-card>

        <mat-card *ngIf="is2FA" fxLayout="column" fxLayoutAlign="center center" class="login-mat-card">
            <mat-card-title></mat-card-title>
            <mat-card-content>
                <form test-id="login-form2fa" [formGroup]="form2FA" (ngSubmit)="submit2FA()">




                    <mat-form-field class="login-form-field">
                        <input [type]="hideToken?'password':'text'" test-id="login-2fa-input" matInput
                            placeholder="{{'Token'|translate}}" formControlName="token" [(ngModel)]="model2fa.token"
                            (ngModelChange)="modelChanged2FA($event)">
                        <mat-icon matSuffix (click)="hideToken = !hideToken">{{hideToken ?
                            'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error test-id="login-2fa-error" class="login-error"> {{ error2fa.token
                            |translate}}</mat-error>
                    </mat-form-field>

                    <div class="button" fxLayout="row" fxLayoutAlign="end">
                        <button test-id="login-2fa-button" type="submit" mat-raised-button
                            [disabled]="!form2FA.valid">{{"Confirm"|translate}}</button>
                    </div>

                    <mat-divider style="margin-top:20px ;"></mat-divider>
                    <div class="login-qrcodeImage-text">
                        <span> {{"2FA"|translate}}</span>
                    </div>

                    <div class="login-qrcodeImage-text" fxLayout="row wrap" fxLayoutAlign="center center">
                        <span> <a mat-flat-button href="/forgotpass" target="_self">Google Authenticatior</a></span>
                        <span> <a mat-flat-button href="/forgotpass" target="_self">Twillio Authy</a></span>
                        <span> <a mat-flat-button href="/forgotpass" target="_self">Microsoft Authenticator</a></span>
                    </div>








                </form>

            </mat-card-content>
        </mat-card>
    </div>

    <div test-id="login-others" *ngIf="!is2FA" fxLayout="row" fxLayoutAlign="center center" class="login-container">
        <mat-card>
            <mat-card-content>
                <div fxLayout="row" fxLayoutAlign="center center" fxFill>
                    <mat-label>
                        OR
                    </mat-label>
                    <mat-divider></mat-divider>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">

                    <div class="social">
                        <button mat-icon-button aria-label="google authentication" matTooltip="Sign in with Google"
                            matTooltipShowDelay="100" matTooltipHideDelay="200">
                            <mat-icon svgIcon="social-google"></mat-icon>
                        </button>
                    </div>
                    <div class="social">
                        <button mat-icon-button aria-label="github authentication" matTooltip="Sign in with Github"
                            matTooltipShowDelay="100" matTooltipHideDelay="200">
                            <mat-icon svgIcon="social-github"></mat-icon>
                        </button>
                    </div>
                    <div class="social">
                        <button mat-icon-button aria-label="linkedin authentication" matTooltip="Sign in with Linkedin"
                            matTooltipShowDelay="100" matTooltipHideDelay="200">
                            <mat-icon svgIcon="social-linkedin"></mat-icon>
                        </button>
                    </div>
                    <div class="social">
                        <button mat-icon-button aria-label="microsoft authenticaton" matTooltip="Sign in with Microsoft"
                            matTooltipShowDelay="100" matTooltipHideDelay="200">
                            <mat-icon svgIcon="social-microsoft"></mat-icon>
                        </button>
                    </div>
                </div>


            </mat-card-content>
        </mat-card>

    </div>


</div>