<div class="confirmemail" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" class="confirmemail-container">
        <mat-card class="confirmemail-mat-card">

            <mat-card-content>
                <img mat-card-md-image src="/assets/img/logo-white.svg" *ngIf="isThemeDark">
                <img mat-card-md-image src="/assets/img/logo-black.svg" *ngIf="!isThemeDark">
                <div>
                    FerrumGate
                </div>


                <div class="email-subtitle">
                    Zero Trust Access
                </div>

            </mat-card-content>
        </mat-card>
        <mat-card test-id="confirmemail-view" fxLayout="column" fxLayoutAlign="center center"
            class="confirmemail-mat-card">
            <mat-card-content>
                <div *ngIf="isConfirmed" test-id="confirmemail-confirmed">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <p color="warn" class="confirmemail-confirmed"> {{ "EmailConfirmedSuccessfully"|translate}}</p>
                    </div>


                    <div class="confirmemail-confirmemail" fxLayout="row" fxLayoutAlign="end end">
                        <span><a mat-flat-button href="/login" target="_self">{{"SignIn"|translate}}?</a></span>
                    </div>

                </div>


                <div *ngIf="!isConfirmed" test-id="confirmemail-not-confirmed">
                    <div fxLayout="row" fxLayoutAlign="center end">
                        <p color="warn" class="confirmemail-confirmed"> {{ "WaitBeforeConfirmingYourEmail"|translate}}
                        </p>
                    </div>

                    <div class="confirmemail-confirmemail" fxFlexAlign="end" fxLayout="row" fxLayoutAlign="end end">
                        <button test-id="confirmemail-retry-button" mat-raised-button
                            (click)="execute(1).subscribe()">{{"Retry"|translate}}</button>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>


    </div>


</div>