.confirmemail-mat-card {
    max-width: 500px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.confirmemail-confirmemail {
    min-height: 50px;
}

.confirmemail-container {
    max-width: 600px;
}

.confirmemail-form-field {
    min-width: 300px;
}

.confirmemail-error {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.confirmemail-confirmed {
    max-width: 300px;

}

.confirmemail-subtitle {
    padding-top: 10px;
}