<div class="logincallback" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" class="logincallback-container">
        <mat-card class="logincallback-mat-card">

            <mat-card-content>
                <img mat-card-md-image src="/assets/img/logo-white.svg" *ngIf="isThemeDark">
                <img mat-card-md-image src="/assets/img/logo-black.svg" *ngIf="!isThemeDark">
                <div>
                    FerrumGate
                </div>


                <div class="logincallback-subtitle">
                    Zero Trust Access
                </div>

            </mat-card-content>
        </mat-card>
        <mat-card fxLayout="column" fxLayoutAlign="center center" class="logincallback-mat-card-content">
            <mat-card-title class="logincallback-title">{{"Redirecting"|translate}}</mat-card-title>
            <mat-card-content fxLayout="column">
                <div>
                    {{"PleaseWait"|translate}}
                </div>
                <div class="logincallback-login" fxFlex="row" fxLayoutAlign="end end">
                    <span><a mat-flat-button href="/login" target="_self">{{"SignIn"|translate}}?</a></span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>