.logincallback-mat-card {
    max-width: 500px;
    margin: 2em auto;
    text-align: center;
}

.logincallback-mat-card-content {
    min-width: 200px;
    margin: 2em auto;
    text-align: center;
}



.logincallback-container {
    max-width: 600px;
}

.logincallback-login {
    min-width: 180px;
    margin-top: 20px;
    margin-bottom: 10px;
}


.logincallback-form-field {
    min-width: 300px;
}


.logincallback-error {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


}



.logincallback-subtitle {
    padding-top: 10px;
}





.logincallback-title {
    padding-bottom: 15px;
    font-size: 1.2rem;
}