<div class="gateway">
    <mat-card>
        <mat-card-header>
            <mat-card-title matTooltip="{{'Gateway'|translate}} {{gateway.name}}">
                <mat-icon>computer
                </mat-icon>
            </mat-card-title>


        </mat-card-header>

        <mat-card-content>
            <div>
                <div>

                    <form test-id="gateway-form" [formGroup]="gateway.formGroup">

                        <p>
                            <mat-form-field appearance="fill">
                                <mat-label>{{"Id"|translate}}</mat-label>
                                <input matInput test-id="gateway-id-input" formControlName="id" [ngModel]="gateway.id"
                                    readonly="true">
                                <mat-hint>{{"GatewayIdHint"|translate}}</mat-hint>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field appearance="fill">
                                <mat-label>{{"Name"|translate}}</mat-label>
                                <input matInput test-id="gateway-name-input" placeholder="Network name"
                                    formControlName="name" [(ngModel)]="gateway.name"
                                    (ngModelChange)="gatewayModelChanged($event)" required>
                                <mat-error>{{gateway.formError.name|translate}}</mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field appearance="fill">
                                <mat-label>{{"Labels"|translate}}</mat-label>
                                <mat-chip-list #chipList>
                                    <mat-chip test-id="gateway-label-chip" *ngFor="let label of gateway.labels||[]"
                                        (removed)="removeLabel(label)">
                                        {{label}}
                                        <button matChipRemove>
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </mat-chip>
                                    <input placeholder="{{'NewLabel' |translate}}" [matChipInputFor]="chipList"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addLabel($event)">
                                </mat-chip-list>
                            </mat-form-field>
                        </p>

                        <p>
                            <mat-form-field appearance="fill">
                                <mat-label>{{"Network"|translate}}</mat-label>
                                <input type="text" test-id="gateway-input-network"
                                    placeholder="{{'SelectANetwork'|translate}}" matInput
                                    [ngModel]="gateway.networkName" [formControl]="networkAutoCompleteFormControl"
                                    [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="networkChanged($event)"
                                    [displayWith]="displayFn">
                                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                        {{option.name}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-hint>{{"BindedNetwork"|translate}}</mat-hint>
                            </mat-form-field>
                        </p>



                    </form>

                    <p>

                        <mat-checkbox test-id="gateway-checkbox-enabled" [(ngModel)]="gateway.isEnabledBoolean"
                            (ngModelChange)="gatewayModelChanged($event)">
                            {{"Enabled"|translate}}</mat-checkbox>

                    </p>


                </div>

                <div>
                    <mat-divider></mat-divider>
                    <mat-toolbar style="height:35px">
                        <mat-action-row class="gateway-actions" fxFlex fxLayoutAlign="start center">
                            <button test-id="gateway-delete-button" mat-icon-button color="primary"
                                matTooltip="{{'Delete'|translate}}" (click)="delete()">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <span *ngIf="gateway.isChanged" fxFlex fxLayoutAlign="end center">
                                <button test-id="gateway-close-button" mat-icon-button color="warn"
                                    matTooltip="{{'CancelChanges'|translate}}" (click)="clear()">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <button test-id="gateway-ok-button" mat-icon-button color="warn"
                                    matTooltip="{{'SaveChanges'|translate}}" (click)="saveOrUpdate()">
                                    <mat-icon>check</mat-icon>
                                </button>
                            </span>

                        </mat-action-row>
                    </mat-toolbar>

                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>