<div class="gateway">
    <mat-card>
        <mat-card-header>
            <mat-card-title matTooltip="Gateway {{gateway.name}}">
                <mat-icon>computer
                </mat-icon>
            </mat-card-title>


        </mat-card-header>

        <mat-card-content>
            <div>
                <div>

                    <form test-id="gateway-form" [formGroup]="gateway.formGroup">

                        <p>
                            <mat-form-field appearance="fill">
                                <mat-label>{{"Id"|translate}}</mat-label>
                                <input matInput test-id="gateway-id-input" formControlName="id" [ngModel]="gateway.id"
                                    readonly="true">
                                <mat-hint>/etc/ferrumgate/conf on gateway</mat-hint>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field appearance="fill">
                                <mat-label>{{"Name"|translate}}</mat-label>
                                <input matInput test-id="gateway-name-input" placeholder="Network name"
                                    formControlName="name" [(ngModel)]="gateway.name"
                                    (ngModelChange)="gatewayModelChanged($event)" required>
                                <mat-error>{{gateway.formError.name|translate}}</mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field appearance="fill">
                                <mat-label>Labels</mat-label>
                                <mat-chip-list #chipList>
                                    <mat-chip *ngFor="let label of gateway.labels||[]" (removed)="removeLabel(label)">
                                        {{label}}
                                        <button matChipRemove>
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </mat-chip>
                                    <input placeholder="New label..." [matChipInputFor]="chipList"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addLabel($event)">
                                </mat-chip-list>
                            </mat-form-field>
                        </p>

                        <p>
                            <mat-form-field appearance="fill">
                                <mat-label>Network</mat-label>
                                <input type="text" placeholder="Select a network" matInput
                                    [ngModel]="gateway.networkName" [formControl]="networkAutoCompleteFormControl"
                                    [matAutocomplete]="auto">
                                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                                    (optionSelected)="networkChanged($event)">
                                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                        {{option.name}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-hint>Binded network</mat-hint>
                            </mat-form-field>
                        </p>



                    </form>

                    <p>

                        <mat-checkbox [(ngModel)]="gateway.isEnabled" (ngModelChange)="gatewayModelChanged($event)">
                            Enabled</mat-checkbox>

                    </p>


                </div>

                <div>
                    <mat-divider></mat-divider>
                    <mat-toolbar style="height:35px">
                        <mat-action-row fxFlex fxLayoutAlign="start center">
                            <button mat-icon-button color="primary" matTooltip="Delete" (click)="delete()">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <span *ngIf="gateway.isChanged" fxFlex fxLayoutAlign="end center">
                                <button mat-icon-button color="warn" matTooltip="Cancel changes" (click)="clear()">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <button mat-icon-button color="warn" matTooltip="Save changes" (click)="saveOrUpdate()">
                                    <mat-icon>check</mat-icon>
                                </button>
                            </span>

                        </mat-action-row>
                    </mat-toolbar>

                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>